@{
    // use current controller or area to determine if tab is active
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
        ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Digital Toolbox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*icons*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> @*icons*@
</head>

@*any data-* attributes seen are custom attributes targeted by custom tag helpers*@
<body data-dark-mode>
    <header>
        <nav data-dark-mode class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                @*Home*@
                <a data-nav-brand asp-controller="Home" asp-action="Index"><span data-nav-brand-span>The Digital Toolbox</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div data-dark-mode class="navbar-nav navbar-collapse collapse flex-row flex-row-reverse">
                    @*Tools*@
                    <div class="nav-item dropdown">
                        <button data-nav-dd-btn>
                            <i class="fa fa-screwdriver-wrench fa-2x"></i><span class="h3 mb-0 p-0 pl-3">Tools</span>
                        </button>
                        @*Tool Options*@
                    <table data-nav-dd-menu>
                        <tr data-nav-dd-row>
                            <td><i class="fa fa-file-code fa-xl"></i></td>
                            <td><a data-nav-dd-txt asp-controller="Embeds" asp-action="Index">Embeds</a></td>
                        </tr>
                        <tr data-nav-dd-row>
                            <td><i class="fa fa-book fa-xl"></i></td>
                            <td><a data-nav-dd-txt asp-controller="Guides" asp-action="Index">Guides</a></td>
                        </tr>
                        <tr data-nav-dd-row>
                            <td><i class="fa fa-keyboard fa-xl"></i></td>
                            <td><a data-nav-dd-txt asp-controller="Macros" asp-action="Index">Macros</a></td>
                        </tr>
                        <tr data-nav-dd-row>
                            <td><i class="fa fa-laptop-code fa-xl"></i></td>
                            <td><a data-nav-dd-txt asp-controller="Programs" asp-action="Index">Programs</a></td>
                        </tr>
                        <tr data-nav-dd-row>
                            <td><i class="fa fa-link fa-xl"></i></td>
                            <td><a data-nav-dd-txt asp-controller="HelpfulLinks" asp-action="Index">Helpful Links</a></td>
                        </tr>
                    </table>
                    </div>
                    @*Account*@
                    <div class="nav-item dropdown">
                        <button data-nav-dd-btn=>
                            <i class="fa fa-user fa-2x"></i><span class="h3 mb-0 p-0 pl-3">Account</span>
                        </button>
                        @*Account Options*@
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<User> signInManager
                        @if (signInManager.IsSignedIn(User))
                        {
                            <table data-nav-dd-menu>
                                <tr>
                                    <td>
                                        <span class="h5 p-2 font-weight-bold text-center text-nowrap"> Logged in as: @User.Identity.Name </span>
                                        <hr style="background-color: #6c757d">
                                    </td>
                                </tr>
                                <tr data-nav-dd-row>
                                    <td><i class="fa fa-right-from-bracket fa-xl"></i></td>
                                    <td>
                                        <form method="post" asp-action="Logout" asp-controller="Account">
                                            <input data-nav-dd-txt type="submit" value="Logout" />
                                        </form>
                                    </td>
                                </tr>
                                @*TODO: Find a way to hide the admin button if the logged in user is not an admin.*@
                                <tr data-nav-dd-row>
                                    <td><i class="fa fa-user-gear fa-xl"></i></td>
                                    <td>
                                        <a data-nav-dd-txt class="@NavViewModel.Active("Admin", current)" asp-action="Index" asp-controller="User">
                                            Admin
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            // get current action
                            var action = ViewContext.RouteData.Values["action"]?.ToString();
                            // anonymous user - Register link and Log In button
                            <table data-nav-dd-menu>
                                <tr data-nav-dd-row>
                                    <td><i class="fa fa-xl fa-right-to-bracket"></i></td>
                                    <td>
                                        <a data-nav-dd-txt asp-action="Login" asp-controller="Account">
                                            Log In
                                        </a>
                                    </td>
                                </tr>
                                <tr data-nav-dd-row>
                                    <td><i class="fa fa-xl fa-user-plus"></i></td>
                                    <td>
                                        <a data-nav-dd-txt class="@NavViewModel.Active("Register", action)" asp-action="Register" asp-controller="Account">
                                            Register
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" data-dark-mode>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2022 - The Digital Toolbox - Josh Allison
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
