@model IEnumerable<TheDigitalToolbox.Models.Guide>

@{
    ViewData["Title"] = "List";
}

<h1>Guides<a class="float-right" data-btn-create asp-action="Create">Create New</a></h1>

<table class="table table-dark table-hover">
    <thead>
        <tr class="text-muted">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a data-btn-details asp-action="Details" asp-route-id="@item.ToolId" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a data-btn-edit asp-action="Edit" asp-route-id="@item.ToolId" asp-route-slug="@item.Slug">Edit</a>
                    <a data-btn-delete asp-action="Delete" asp-route-id="@item.ToolId" asp-route-slug="@item.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>