@model TheDigitalToolbox.Models.Embedded

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Title - Details</h3>
<a data-btn-edit asp-action="Edit" asp-route-id="@Model.EmbeddedId" asp-route-slug="@Model.Slug">Edit</a>
<a data-btn-back asp-action="Index">to List</a>
<div class="row">
    <div class="col-auto">
        <table class="table table-bordered table-striped table-dark table-sm">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Creator)</th>
                <th>Uploaded By</th>
                <th>Share Link</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Creator)</td>
                <td>@Html.DisplayFor(model => model.Uploader.UserName)</td>
                <td>@Html.DisplayFor(model => model.ShareURL)</td>
            </tr>
        </table>
    </div>
</div>
<hr />
<a class="float-right" data-btn-create asp-controller="Comments" asp-action="Create">Add Comment</a>
@foreach (Comment c in Model.Comments)
{
    <p>@c.Commenter</p>
    <p>@c.Text</p>
    <p>@c.Date</p>
}
<hr />
<div>
    <dl class="row">
        <dd class="col-auto">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-auto embed-responsive embed-responsive-1by1 content-align-center">
            @Html.Raw(Model.EmbedString)
        </dd>
    </dl>
</div>
